* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  width: 500px;
  height: 700px;
  background-color: #1e293b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-title {
  color: white;
  margin-bottom: 20px;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  background-color: #3b82f6;
  color: white;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 80%;
  white-space: pre-line;
}

.input-container {
  display: flex;
  gap: 10px;
}

.chat-input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.send-button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #1d4ed8;
}

.user-message {
  background-color: #2563eb;
  align-self: flex-end;
}

.bot-message {
  background-color: #334155;
  align-self: flex-start;
}